<div class="container stats">
    <hr>
    <div class="row">
        <div class="col-md-4 col-xs-12">
            <h2>Tea bags:{{teaStats.teaBags}}</h2>
            <h2>Tea leaves:{{teaStats.teaLeaves}}</h2>
            <h2>Tea filters: {{teaStats.teaFilterPaper}}</h2>

        </div>
        <div class="col-md-4 col-xs-12">
            
            <h2>Tea bag price: £{{teaStats.teaBagPrice}}</h2>
            <h2>Tea leaf price: £{{teaStats.teaLeafPrice}}</h2>
            <h2>Tea filter price: £{{teaStats.teaFilterPaperPrice}}</h2>

        </div>
        <div class="col-md-4 col-xs-12">
            <h2>Money: £{{teaStats.money}}</h2>
            <h2>Tea bag demand: {{teaStats.teaBagDemand}}%</h2>

        </div>
    </div>
    <hr>
</div>


