<div class="container stats">
    <hr>
    <div class="row">
        <div class="col-md">
            <h3>Tea bags:{{teaStats.teaBags}}</h3>
            <h2>Tea bag price: £{{teaStats.teaBagPrice}}</h2>

        </div>
        <div class="col-md">
            <h2>Money: £{{teaStats.money}}</h2>
            <h2>Tea leaves:{{teaStats.teaLeaves}}</h2>

        </div>
        <div class="col-md">
            <h2>Tea bag demand: {{teaStats.teaBagDemand}}</h2>

        </div>
    </div>
    <hr>
</div>

<div class="container">
    <div class="row">
        <div class="col-md">
            <button class="btn btn-primary">make a tea bag</button>
        </div>
        <div class="col-md">
            <button class="btn btn-primary">buy tea leaves</button>
        </div>
        <div class="col-md">
            <button class="btn btn-primary">Buy filter paper</button>
        </div>

    </div>
</div>
