<div>
    <div>
        <h3>Bag-O-matic</h3>
        <hr>
        <button class="btn btn-outline-primary" (click)="CreateNewTeaBagGenerator()">Build Bag-o-matic
            (£{{GeneratorPrice}})</button>
        <hr>
    </div>

    <div class="bs-example">
        <div class="panel-group" [attr.id]="'accordion_' + i" *ngFor="let machine of teaGenerators; let i = index;">
            <div class="panel panel-default" >
                <div class="panel-heading card-header">
                    <h4 class="panel-title">
                        {{ machine.name }}
                        <button class="btn btn-primary btn-sm float-right" data-toggle="collapse" [attr.data-parent]="'#accordion_' + i" [attr.href]="'#collapseOne_' + i"><i class="fa fa-caret-down"></i></button>
                    </h4>
                </div>
                <div [attr.id]="'collapseOne_' + i" class="panel-collapse collapse in">
                    <div class="card-body rounded border">
                        <div class=" d-flex justify-content-around">
                            <p class="p-2">Bags per Second: {{machine.TBPS}}</p>
                            <p class="p-2">Leaves used: {{machine.LeavesUsed}}</p>
                            <p class="p-2">filters used: {{machine.FiltersUsed}}</p>
                        </div>
                        <hr>
                        <h5 class="d-flex justify-content-center">upgrades</h5>
                        <div class="btn-group d-flex justify-content-center" role="group">
                            <button class="btn btn-outline-primary">Speed</button>
                            <button class="btn btn-outline-primary">Leaves used</button>
                            <button class="btn btn-outline-primary">filters used</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</div>