<div>
    <div>
        <h3>Engineer Dept.</h3>
        <hr>
    </div>
    <div>
        <h5>Improve Running Bag-O-Matics</h5>
        <button class="btn btn-outline-primary m-1" (click)="researchUpdate('Speed')">Research speed improvement lvl
            {{EngineerStats.TBMMaxSpeed}} (£{{EngineerStats.TBMUpgradeSpeedPrice}})</button>

        <button class="btn btn-outline-primary m-1" (click)="researchUpdate('Leaf')">Research Tea Leaf improvement lvl
            {{EngineerStats.TBMMaxLeafLevel}} (£{{EngineerStats.TBMUpgradeLeafPrice}})</button>

        <button class="btn btn-outline-primary m-1" (click)="researchUpdate('Filter')"> Research Tea Filter improvement lvl
            {{EngineerStats.TBMMaxFilterLevel}} (£{{EngineerStats.TBMUpgradeFilterPrice}})</button>
    </div>
</div>